@{
    ViewData["Title"] = "Home Page";
}

<div class="row" style="height:20px;"></div>
<div class="row">
    消息内容：<input id="txtMessage" type="text" style="width:600px; height:30px; line-height:30px;" /> <br />
    <input id="btnSendDirect" type="button" value="发布消息(direct)" />
    <input id="btnSendTopic" type="button" value="发布消息(topic)" />
    <input id="btnSendFanout" type="button" value="发布消息(fanout)" />
</div>

<br />
<div class="row">
        <pre>
说明：
    1､ 使用RMQ1发送一条消息，RMQ2,RMQ3,RMQ4都可以收到消息（fanout）
    2､ 使用RMQ1发送一条消息，RMQ2,RMQ3可以收到消息，但是RMQ4不可以收到消息（topic）
    3､ 使用RMQ1发送一条消息，RMQ2可以收到消息，其它帐户不可以收到消息（direct）
    </pre>
    </div>


    <script src="/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">$(function() {
            $("#btnSendDirect").click(function() {
                var message = $("#txtMessage").val();
                $.post("/home/publish", { message: message, etype: "direct" });
            });
            $("#btnSendTopic").click(function() {
                var message = $("#txtMessage").val();
                $.post("/home/publish", { message: message, etype: "topic" });
            });
            $("#btnSendFanout").click(function() {
                var message = $("#txtMessage").val();
                $.post("/home/publish", { message: message, etype: "fanout" });
            });
});</script>
